body {
    background-image: url("FUndo.gif");
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f1f1f1;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  h1 {
   height: 100px;
    text-align: center;
    color:#f1f1f1;
  }
  p {
    color:#ffffff;
  }
 button{
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2) ;
  width: 200px; height: 50px;
  top: 45%;
  left: 52%;
  position: absolute;
 }
div{
  top:45%;
right:65%;
position: absolute;
 }